* {
    margin:0;
    padding:0;
}
body {
    font:14px/1.6 Helvetica,Arial,sans-serif;
    background-color:#fff;
    color:#000;
}
h1,h2,h3,h4,h5,h6 {
    margin:20px 0 10px;
    padding:0;
    font-weight:bold;
    -webkit-font-smoothing:antialiased;
    cursor:text;
    position:relative;
    color:#000;
}
img {
    max-width:100%;
    border:none;
}
a {
    color:#ee7300;
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}
h1 {
    font-size:28px;
}
h2 {
    font-size:24px;
}
h3 {
    font-size:18px;
}
h4 {
    font-size:16px;
}
h5,h6 {
    font-size:14px;
    color:#777;
}
p,blockquote,ul,ol,dl,table,pre {
    margin:15px 0;
}
ol li {
    list-style:decimal;
}
ul li {
    list-style:disc;
}
hr {
    background:transparent url(data:image/png;
    base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OENDRjNBN0E2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OENDRjNBN0I2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4Q0NGM0E3ODY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4Q0NGM0E3OTY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqqezsUAAAAfSURBVHjaYmRABcYwBiM2QSA4y4hNEKYDQxAEAAIMAHNGAzhkPOlYAAAAAElFTkSuQmCC) repeat-x 0 0;
    border:0 none;
    color:#cccccc;
    height:4px;
    padding:0;
}
.entry-content > h2:first-child {
    margin-top:0;
    padding-top:0;
}
.entry-content > h1:first-child {
    margin-top:0;
    padding-top:0;
}
.entry-content > h1:first-child + h2 {
    margin-top:0;
    padding-top:0;
}
.entry-content > h3:first-child,.entry-content > h4:first-child,.entry-content > h5:first-child,.entry-content > h6:first-child {
    margin-top:0;
    padding-top:0;
}
a:first-child h1,a:first-child h2,a:first-child h3,a:first-child h4,a:first-child h5,a:first-child h6 {
    margin-top:0;
    padding-top:0;
}
li p.first {
    display:inline-block;
}
ul,ol {
    padding-left:30px;
}
ul:first-child,ol:first-child {
    margin-top:0;
}
code,tt {
    margin:0 2px;
    padding:0 5px;
    white-space:nowrap;
    border:1px solid #eaeaea;
    background-color:#f8f8f8;
    border-radius:3px;
}
pre code {
    margin:0;
    padding:0;
    white-space:pre;
    border:none;
    background:transparent;
}
.wrap-content pre {
    position:relative;
}
pre {
    background-color:#f8f8f8;
    border:1px solid #cccccc;
    font-size:13px;
    line-height:19px;
    overflow:auto;
    padding:6px 10px;
    border-radius:3px;
}
pre code,pre tt {
    background-color:transparent;
    border:none;
}
sup {
    font-size:0.83em;
    vertical-align:super;
    line-height:0;
}
blockquote {
    border-left:4px solid #dddddd;
    padding:0 15px;
    color:#777777;
}
blockquote >:first-child {
    margin-top:0;
}
blockquote >:last-child {
    margin-bottom:0;
}
table {
    padding:0;
    border-collapse:collapse;
}
table tr {
    border-top:1px solid #cccccc;
    background-color:white;
    margin:0;
    padding:0;
}
table tr:nth-child(2n) {
    background-color:#f8f8f8;
}
table tr th {
    font-weight:bold;
    border:1px solid #cccccc;
    margin:0;
    padding:6px 13px;
}
table tr td {
    border:1px solid #cccccc;
    margin:0;
    padding:6px 13px;
    vertical-align:middle;
}
table tr th:first-child,table tr td:first-child {
    margin-top:0;
}
table tr th:last-child,table tr td:last-child {
    margin-bottom:0;
}
.footer {
    font-size:12px;
    background:#ededed;
    text-align:center;
    color:#999;
}
.footer a {
    color:#666;
}
.footer ul {
    margin:0;
}
.footer ul li {
    margin:0 0 .6em 0;
}
.clearfix {
    *zoom:1;
}
.pull-left {
    float:left;
}
.pull-right {
    float:right;
}
.clearfix:before,.clearfix:after {
    display:table;
    content:"";
    line-height:0;
}
.clearfix:after {
    clear:both;
}
/* wiki theme */

.wrap-content {
    margin:0;
    list-style:none;
}
.wrap-content a:hover {
    text-decoration:underline;
}
.header-nav {
    width:100%;
    height:0px;
    background:#fd7300;
    filter:alpha(opacity=90);
    -moz-opacity:.9;
    -khtml-opacity:.9;
    opacity:.9;
    position:relative;
    z-index:9999;
}
.row-n {
    width:100%;
    max-width:1140px;
    /*min-width:755px;
    */       /*宽度自适应*/
    margin:0 auto;
}
.logo {
    margin-top:50px;
    width:25px;
    height:45px;
    background:url(https://i.alipayobjects.com/e/201401/1pdBh1RfI5_src.jpg) no-repeat center center;
    background-size:25px 45px;
    display:block;
    position:relative;
    margin:0 auto;
    cursor:pointer;
}
.logo-inner {
    width:20px;
    height:16px;
    background:url(https://i.alipayobjects.com/e/201401/1pd5TfHdK9_src.jpg) no-repeat center center;
    background-size:20px 16px;
    display:block;
    position:absolute;
    transition:all 0.25s;
    top:8px;
    left:3px;
    opacity:0;
}
.logo:hover .logo-inner {
    opacity:1;
}
.slogan {
    color:#999;
    font-size:22px;
}
.slogan-logo {
    border-right:solid 1px #c9c9c9;
    padding-right:15px;
    vertical-align:middle;
    margin-bottom:2px;
    margin:15px 0;
}
.slogan span {
    margin-left:10px;
    color:#333;
}
.navigation {
    background:#fd7300;
    /*border-bottom:2px solid #fd7300;
    */
}
.navigation-fix {
    position:fixed;
    top:0;
    margin-top:0;
    width:100%;
    max-width:none;
}
.navigation-fix > .nav {
    max-width:1140px;
    margin:0 auto;
}
.navigation-btm {
    position:relative;
}
.nav {
    list-style:none;
    text-align:center;
    display:box;
    display:-webkit-box;
    display:-moz-box;
    display:-o-box;
    margin:0;
}
.nav > li {
    box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    display:block;
    text-align:center;
    margin:0;
    cursor:pointer;
    position:relative;
    white-space:nowrap;
}
.nav > li > a {
    font-size:1rem;
    color:#fff;
    font-family:"Microsoft YaHei";
    display:block;
    transition:all 0.25s;
    padding:1em 0;
}
.nav > li > a:hover,.nav > li > a.active {
    color:#fff;
}
.nav-sub {
    position:absolute;
    top:56px;
    background:#fd7300;
    border-top:none;
    transition:all 0.25s;
    z-index:9999;
    opacity:0;
    list-style:none;
    margin:0;
    min-width:130px;
    -webkit-transform:translate3d(0,-30px,0);
    visibility:hidden;
    width:100%;
}
.nav > li:hover .nav-sub {
    z-index:99;
    opacity:1;
    -webkit-transform:translate3d(0,0,0);
    visibility:visible;
}
.nav > li:last-child ul {
    right:0;
}
.nav-sub >li {
    text-align:center;
    padding:.2em 1em;
    margin:0;
    cursor:pointer;
    height:45px;
    line-height:45px;
}
.nav-sub >li > a {
    font-size:1rem;
    color:#fff;
    display:block;
    transition:all 0.25s;
}
.nav-sub > li:hover {
    background:#c17946;
}
.nav-sub> li > a.active {
    color:#fd7300;
}
.sub-nav {
    list-style:none;
}
.meta {
    margin-bottom:40px;
}
.sub-nav a {
    font-size:1rem;
    color:#999;
    border-bottom:1px solid rgba(0,0,0,0.05);
    padding:0.2em 0;
    display:block;
    transition:all 0.25s;
}
.sub-nav a:hover,.sub-nav a.active {
    color:#fd7300;
}
.entry-header h3 {
    color:#666;
    font-size:20px;
    transition:all 0.25s;
    display:inline;
}
.entry-header {
    padding:10px 5px;
    transition:all 0.25s;
    border-bottom:1px solid #fff;
    border-top:1px solid #fff;
    display:block;
}
.entry-title {
    font-weight:normal;
}
.entry-header:hover {
    border-bottom:1px solid #e8e8e8;
    border-top:1px solid #e8e8e8;
    background:#F8F8F8;
}
.entry-header:hover h3 {
    color:#fd7300;
}
.entry-header:hover .entry-meta {
    color:#aaa;
}
.entry-meta,.post-meta {
    float:right;
    font-size:0.65em;
    color:#C8C8C8;
    line-height:26px;
    padding-top:4px;
    font-weight:lighter;
    transition:all 0.25s;
}
.document-title {
    margin-top:0;
    display:inline;
    color:#262626;
    font-weight:normal;
    font-size:26px;
}
#comment {
    margin-top:30px;
}
.header {
    position:relative;
}
.search {
    float:right;
}
.search input {
    width:300px;
    margin-right:5px;
    outline:0;
    padding:3px 10px;
    border:1px solid rgba(0,0,0,0.05)
}
.search input:focus {
    border:1px solid #fd7300;
}
.ui-autocomplete {
    background:#fff;
}
.ui-autocomplete ul {
    list-style:none;
    margin-left:0;
}
.ui-autocomplete li {
    width:305px;
    padding:5px 10px;
    font-size:12px;
    color:#333;
    border-bottom:1px solid rgba(0,0,0,0.05)
}
.ui-autocomplete-item-hover {
    background-color:#fd7300 !important;
    color:#fff !important;
}
.ui-autocomplete-item-hl {
    color:#fd7300;
}
.ui-autocomplete-item-hover .ui-autocomplete-item-hl {
    color:#333 !important;
}
.default-content {
    margin:0 auto;
}
.default-banner {
    background:url(https://i.alipayobjects.com/i/ecmng/jpg/201406/2mVejtcNtP.jpg) no-repeat;
    height:500px;
}
.default-c {
    text-align:center;
    color:#fff;
    padding-top:180px;
}
.default-c h2 {
    font-size:48px;
    font-weight:normal;
    margin-bottom:15px;
    line-height:1.2em;
    word-wrap:break-word;
}
.default-c p {
    margin:0;
    font-size:26px;
    line-height:1.2em;
}
.mar {
    margin-top:10px;
}
#sidebar-fixed-nav dl {
    margin:0 0;
    background:#ececec;
    line-height:46px;
    min-width:163px;
    width:100%;
    border-top:solid 1px #dddddd;
}
#sidebar-fixed-nav .active {
    background:#fff;
}
#sidebar-fixed-nav dt a {
    padding-left:16px;
    font-size:16px;
}
#sidebar-wrapper {
    position:relative;
    width:100%;
    max-width:280px;
    min-width:163px;
    text-shadow:none;
    overflow-y:auto;
    overflow-x:hidden;
    box-shadow:0 2px 3px rgba(0,0,0,0.5)
}
#sidebar-wrapper.sidebar-fixed-top {
    position:fixed;
    top:10px !important;
    width:26.05%;
}
#sidebar-fixed-nav {
    border-bottom:solid 1px #bdbdbd;
}
#sidebar-wrapper #sidebar-fixed-nav dd {
    display:none;
}
#sidebar-wrapper #sidebar-fixed-nav dd a {
    padding-left:10px;
    font-size:14px;
    text-indent:2em;
    line-height:2.5em;
}
#sidebar-fixed-nav .sidebar-fixed-nav-title {
    font-weight:bold;
}
#sidebar-wrapper #sidebar-fixed-nav dl a {
    display:block;
    color:#444;
}
#sidebar-wrapper #sidebar-fixed-nav .active dd {
    display:block;
    line-height:38px;
}
#sidebar-wrapper #sidebar-fixed-nav dl.active dt a {
    color:#fd7300;
}
#sidebar-wrapper #sidebar-fixed-nav .active dl {
    background:none;
}
#sidebar-wrapper #sidebar-fixed-nav .active dt {
    border-top:2px solid #bdbdbd;
    border-left:solid 5px #fd7300;
    height:46px;
    line-height:46px;
}
#sidebar-wrapper #sidebar-fixed-nav dd.active a {
    color:#ee7300;
    border-right:2px solid #fd7300;
    font-weight:bold;
}
.sitelink {
    padding:25px 0;
    border-top:1px solid #f6f6f6;
    text-align:center;
    background-color:#ededed;
}
.sitelink .ui-link {
    display:inline-block;
}
.sitelink .ui-link-bottom {
    padding-top:8px;
}
.sitelink .ui-link-item {
    color:#a0a0a0;
}
.ui-link-item {
    display:inline-block;
    padding:0 8px;
    border-right:1px solid #cccccc;
    line-height:14px;
    margin-left:-3px;
}
.sitelink .ui-link-item a {
    color:#a0a0a0;
}
.sitelink .ui-link-item a:hover {
    text-decoration:underline;
    color:#a0a0a0;
}
.auth {
    height:50px;
    text-align:center;
    background-color:#ededed;
}
.auth-link {
    display:inline-block;
    _display:inline;
    *display:inline;
}
.auth-link-item {
    height:40px;
    float:left;
}
.auth-link-item a {
    display:block;
    text-indent:-9999em;
    overflow:hidden;
}
.auth-link-item span {
    display:block;
    text-indent:-9999em;
    overflow:hidden;
}
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1;
}
.grid-990 {
    max-width:990px;
    /*宽度自适应*/
    margin:0 auto;
}
.ui-link-item-last {
    border-right:0;
}
.a-list {
    margin:100px 0px 80px 0px;
}
.a-list li {
    float:left;
    width:30%;
    margin:0 1.55%;
    display:inline-block;
    text-align:center;
    font-family:"microsoft yahei";
}
.a-list li h3 {
    font-size:28px;
    font-weight:normal;
    margin-top:10px;
}
.a-list li p {
    color:#999;
    font-size:20px;
    font-weight:normal;
}
.a-list li a {
    color:#0088ff;
    font-size:20px;
    font-weight:normal;
    display:block;
    margin-top:10px;
}
/*************************小屏下展示菜单*************************/
.navbar-toggle {
    position:relative;
    float:right;
    margin-right:15px;
    padding:9px 10px;
    margin-top:8px;
    margin-bottom:8px;
    border:1px solid #C55A1E;
    border-radius:4px;
    background-color:#fd7300;
    display:none;
}
.navbar-toggle .icon-bar {
    display:block;
    width:22px;
    height:2px;
    border-radius:1px;
    margin:4px 0 0 0;
    background-color:#fff;
}
.navbar-toggle .icon-bar:first-child {
    margin:0;
}
.goTop {
    display:none;
    position:fixed;
    right:50px;
    bottom:20px;
    border:2px solid #fd7300;
    border-radius:7px;
    padding:5px 20px;
    background-color:#fff;
    cursor:pointer;
    opacity:1;
    font-weight:bold;
    z-index:99999;
}
.clipbord {
    visibility:hidden;
    position:absolute;
    right:10px;
    top:6px;
    font-size:12px;
    padding:0px 5px;
    border:1px solid #aaa;
    color:#555;
    background-color:#ccc;
    border-radius:7px;
    box-shadow:0 0 2px #ccc;
}
pre:hover .clipbord{
    visibility: visible;
    zoom: 1;
    overflow: hidden;
}
.show {
    visibility:visible !important;
}
.hide {
    visibility:hidden !important;
}
@media (max-width:640px) {
    body {
    font:400 16px/1.5 "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
.header,.sub-nav {
    text-align:center;
}
.navbar-toggle {
    display:block;
}
.slogan {
    text-align:left;
    text-indent:8px;
    margin:0;
    border-bottom:2px solid #aaa;
}
.slogan-logo {
    width:3em;
    padding-right:7px;
}
.slogan span {
    font-size:16px;
    margin-left:4px;
}
.header-nav {
    height:auto;
    overflow:hidden;
}
.nav > li {
    border-top:1px solid #A05F36;
    border-bottom:1px solid #E2C8A6;
}
.nav > li:first-child {
    border-top:none;
}
.nav-sub {
    position:relative;
    top:auto;
    opacity:1;
    visibility:visible;
    -webkit-transform:none;
    overflow:hidden;
    background-color:#AC4C1E;
    display:none;
}
.nav-sub > li {
    display:block;
    float:left;
    padding:0;
    width:50%;
}
.header-nav-fixed > .navigation {
    position:relative;
}
.row .threecol {
    width:100%;
}
.row .ninecol {
    margin-left:3%;
    width:94%;
}
.navigation {
    position:relative;
    top:auto;
}
.navigation .nav {
    display:block;
}
#sidebar-wrapper {
    position:relative !important;
    width:100% !important;
    max-width:none;
    top:auto !important;
    text-shadow:none;
}
.a-list {
    margin:20px 0;
}
.a-list li {
    width:90%;
    margin:5px 5%;
}
.a-list li h3,.a-list li p,.a-list li a {
    font-size:1em;
}
}#cnzz_stat_icon_1252894789 {
    display:none;
}
