doctype html
html
	head
		meta(charset='utf-8')
		meta(name="viewport", content="width=device-width")
		title #{config.sitename}
		style
			include ../../../target/css/page.css
		script(type="text/javascript", src="https://a.alipayobjects.com/jquery/jquery/1.11.1/jquery.js")
		script(type="text/javascript", src="https://a.alipayobjects.com/u/ecmng/js/201408/3BvrkS6RYz.js")
		script(type="text/javascript")
			include ../../../target/js/page.js

	body
		.header
			.slogan.row
				img.slogan-logo(src="https://i.alipayobjects.com/i/ecmng/png/201406/2m8Ebk4eZh.png", alt="alipay")
				span #{config.sitename}
			.header-nav
				.navigation.row-n
		.row.mar
			.threecol.meta
			.ninecol.wrap-content
				.document
					.post-header
						.post-meta
							time(datetime="#{lastModify}") #{lastModify}
					.entry-content
						block content
		.footer
			.grid-990.sitelink.fn-clear
				ul.ui-link.fn-clear
					li.ui-link-item
						a(href="http://ab.alipay.com/i/index.htm", title="关于支付宝") 关于支付宝
					li.ui-link-item
						a(href="http://blog.alipay.com/", title="官方博客") 官方博客
					li.ui-link-item
						a(href="http://job.alipay.com/index.php", title="诚征英才") 诚征英才
					li.ui-link-item
						a(href="https://open.alipay.com/index.htm", title="开放平台") 开放平台
					li.ui-link-item
						a(href="http://ab.alipay.com/i/lianxi.htm", title="联系我们") 联系我们
					li.ui-link-item
						a(href="http://fun.alipay.com/sitemap/index.htm", title="网站地图") 网站地图
					li.ui-link-item
						a(href="http://global.alipay.com/ospay/home.htm", title="International Business") International Business
					li.ui-link-item.ui-link-item-last
						a(href="http://ab.alipay.com/i/jieshao.htm#en", title="About Alipay") About Alipay
				ul.ui-link.fn-clear
					li.ui-link-item
						a(href="http://page.1688.com/shtml/about/ali_group1.shtml", title="阿里巴巴集团") 阿里巴巴集团
					li.ui-link-item
						a(href="http://www.alibaba.com/", title="阿里巴巴国际站") 阿里巴巴国际站
					li.ui-link-item
						a(href="http://www.1688.com/", title="阿里巴巴中国站") 阿里巴巴中国站
					li.ui-link-item
						a(href="http://www.aliexpress.com/", title="全球速卖通") 全球速卖通
					li.ui-link-item
						a(href="http://www.taobao.com/", title="淘宝网") 淘宝网
					li.ui-link-item
						a(href="http://www.tmall.com/", title="天猫") 天猫
					li.ui-link-item
						a(href="http://ju.taobao.com", title="聚划算") 聚划算
					li.ui-link-item
						a(href="http://www.etao.com/?tbpm=t", title="一淘") 一淘
					li.ui-link-item
						a(href="http://www.alimama.com/index.htm", title="阿里妈妈") 阿里妈妈
					li.ui-link-item
						a(href="http://trip.taobao.com/", title="淘宝旅行") 淘宝旅行
					li.ui-link-item
						a(href="http://www.xiami.com/", title="虾米") 虾米
					li.ui-link-item
						a(href="http://www.aliyun.com/", title="阿里云计算") 阿里云计算
					li.ui-link-item
						a(href="http://www.yunos.com/", title="云OS") 云OS
					li.ui-link-item
						a(href="http://www.net.cn/", title="万网") 万网
					li.ui-link-item
						a(href="https://www.alipay.com/", title="支付宝") 支付宝
					li.ui-link-item.ui-link-item-last
						a(href="https://www.laiwang.com/", title="来往") 来往
				ul.ui-link.ui-link-bottom.fn-clear
					li.ui-link-item.ui-link-item-last 支付宝版权所有 2004-2014
						a(href="http://fun.alipay.com/certificate/jyxkz.htm") ICP证: 浙B2-20120045
