<h2 id="原则">原则</h2>
<p>支付宝服务窗基于支付宝开放战略，为用户提供更为便捷的服务，为企业、机构提供服务用户的新方式，推动各行业的定制、创新和进化，形成健康、丰富的生态环境。</p>
<p>为此，平台上的服务需要满足以下原则：丰富的服务内容（多样的服务、持续的服务）和良好的服务品质（有价值的服务、便捷的服务）。</p>
<h2 id="相关条款">相关条款</h2>
<p>使用支付宝服务窗服务，支付宝服务号的运营者必须阅读并遵守 《支付宝服务窗协议》，《支付宝服务协议》 及其附属规则以及支付宝为此制定的专项规则等。本运营规范是在上述协议及规则基础上进行解释和说明，旨在帮助支付宝服务号运营者更加清晰地理解和遵守相关协议和规则，以便能够更加顺利地在支付宝服务窗进行运营，而不是修改或变更上述协议及规则中的任何条款。</p>
<h2 id="运营规范">运营规范</h2>
<h3 id="服务窗入驻要求">服务窗入驻要求</h3>
<p>申请入驻服务窗时必须使用支付宝实名认证账号；
暂不接受个人自媒体、媒体资质（企业级）服务窗和媒体授权企业运营的服务窗入驻</p>
<h3 id="服务号命名要求">服务号命名要求</h3>
<ol>
<li>不得含有违反法律法规和公序良俗的相关信息；</li>
<li>不得侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利；如申请的商标名称，需提供商标权人出具的授权书（若商标权人为自然人，则需同时提供其亲笔签名的身份证复印件）（以工商局商标网查询结果为准）；</li>
<li>以人物或以企业名称命名的，需要和支付宝账户实名信息保持一致；但不得以国家领导人名称命名；</li>
<li>不得以存在明显歧义的词组来命名，如：小三；</li>
<li>不得以太过广泛的、或产品、行业词组来命名，如：女装、皮革批发；</li>
<li>其他支付宝认为不适合用于服务号命名的文字、词组等。</li>
</ol>
<p>附：在以上命名要求的基础上，列举几点可以通过的情况：</p>
<ol>
<li>命名和账号主体本身信息一致（公司名称/个人名称）；</li>
<li>与天猫店铺名称一致，需提供天猫店铺网址；</li>
<li>与淘宝店铺名称一致，且淘宝店铺名称未被他人注册为商标，需提供淘宝店铺网址；</li>
<li>有网站，申请名称与网站名称一致，备案信息一致，且网站名称未被他人注册为商标；有在apple store 或google play 豌豆荚等应用市场上架的应用，应用所有者与申请主体一致，服务窗名称与应用名称一致，且应用名称未被他人注册为商标；</li>
<li>与商户注册的商标名称一致；或有注册商标所有人的授权文件。</li>
</ol>
<h3 id="信息发布要求：">信息发布要求：</h3>
<ol>
<li>真实、合法、准确、完整，不得提交、发布虚假信息，冒充、利用他人名义发布信息，或将服务号赠与、借用、租用、转让或售卖给他人；</li>
<li>强制，诱导其他用户关注账号，点击链接页面或分享信息；</li>
<li>不侵犯任何第三方享有的合法权利或权益，包括但不限于名誉权、肖像权、知识产权、商业秘密、个人隐私不违反任何法律、法规、条例或规章，以及相关行业性规定，不得含有任何违反国家法律、危害国家安全统一、社会稳定、公序良俗、社会公德以及淫秽、色情、不道德、欺诈、诽谤（包括商业诽谤）、非法恐吓或非法骚扰的内容；</li>
<li>不含有任何类型的恶意计算机程序、病毒；不得以任何方式干扰或企图干扰支付宝服务窗、其他服务号服务或其任何部分或功能的正常运行；</li>
<li>不直接或间接与下述各项内容链接：
(i)    任何法律、法规、条例或规章所禁止的商品或服务；禁限售商品信息，详见《支付宝禁限售名录》；
(ii)    无权链接的商品或服务；</li>
<li>不将通过服务窗平台技术接口、公开渠道以及基于服务窗合作获取的支付宝相关数据（包括但不限于任何用户信息、用户交易信息、用户针对服务号服务/产品的使用数据、支付宝买家和卖家等会员数据、支付宝接口相关的接口资料和费率）用于服务窗之外的目的；不会非法获取支付宝会员信息用于交易或获取不当利益；不会利用其他服务商的相关权限获取用户或支付宝会员数据；</li>
<li>不得请求、收集、索取或以其他方式从任何用户那里获取对支付宝用户名、密码或其他身份验证凭据的访问权；不得为任何用户自动登录到支付宝提供代理身份验证凭据；不得提供“跟踪”功能，包括但不限于识别用户在其他服务商页面上查看或操作； </li>
<li>不得暗示支付宝加入、赞助或认可服务号提供的服务，包括但不限于在服务中使用“阿里巴巴”、 “支付宝”、“阿里”、“Alibaba”、“Taobao”或支付宝关联公司的名称的任何变体、缩写或错误拼写；</li>
<li>不得使用插件、外挂或通过其他第三方工具、运营平台或任何服务接入本服务和相关系统；</li>
<li>不得制作、发布与以上行为相关的方法、工具，或对此类方法、工具进行运营或传播，无论这些行为是否为商业目的；</li>
<li>不得利用支付宝服务窗从事其他违反法律法规规定、侵犯其他用户合法权益、干扰产品正常运营或支付宝未明示授权的行为。</li>
</ol>
<h3 id="处罚机制">处罚机制</h3>
<p>如服务号运营过程中违反服务窗相关规则，则支付宝将视违规程度对服务号采取相应的处罚：</p>
<ol>
<li>发布违规信息，情节轻微的，予以服务号暂时下架处理，并要求服务号运营者在7天内进行整改。到期后完成整改，则恢复上架；未完成整改，则注销服务号；</li>
<li>发布信息存在严重违规的（如发布色情、赌博、欺诈信息），或整改超过3次再次发现违规的，将直接注销服务号，终止服务窗服务；</li>
<li>服务号运营者有违反《支付宝服务协议》或者其他与支付宝达成的任何相关协议约定，如：出售违禁品、盗用他人支付宝账户、欺诈等，则予以注销服务号，终止服务窗服务。</li>
</ol>
<h3 id="举报机制">举报机制</h3>
<p>支付宝服务窗建立用户举报处理机制，支付宝将对举报内容进行核实，并视违规程度予以相应处罚措施。</p>
<h3 id="免责声明">免责声明</h3>
<p>支付宝服务窗用户及运营者明确了解并同意，支付宝不对服务号提供任何种类的明示或暗示担保或条件，包括但不限于商业适售性、特定用途适用性等。支付宝服务窗用户及运营者对服务窗的使用行为必须自行承担相应风险。</p>
<h3 id="规范修改规则">规范修改规则</h3>
<p>支付宝可能随时会对本规范进行变更，并以网站公告的方式予以公布而不再另行单独通知，该等变更将在公布时即时生效；变更后继续使用支付宝服务窗服务，则视为已充分阅读、理解并接受修改后的本规范并受之约束。</p>
